html{
    overflow-x: hidden;
}
body{
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    main{
        padding: 10px 20px 0px 20px;
        font-family: 'Inter', sans-serif;
        font-weight: bolder;
        
    }
}
.features{
    font-size: 13px;
    padding: 10px;
    background-color:#191919;
    width: 100%;
}
.text{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    grid-area: texto;
    color:$text;
    font-weight:bold;
    @extend .features;
}
.text2{
    font-family: 'Inter', sans-serif;
    grid-area: texto2;
    margin: 0px;
    color:$text;
    font-weight:bold;
    @extend .features;
   

}
.text3{
    font-family: 'Inter', sans-serif;
    grid-area: texto3;
    margin: 0px;
    color:$text;
    font-weight:bold;
    @extend .features;
   
}
.mini{
    padding-top: 5px;
    padding-bottom: 10px;
}
p{
    padding: 0px;
    margin: 0px;
}

.full{
    width: 100%;
    height: 100%;
}
.big{
    @extend .full;
    grid-area:big;
    border: solid rgb(0, 0, 0);
    
}
.big2{
    @extend .full;
    grid-area: big2;
}
.big3{
    @extend .full;
    grid-area: big3;
}
.fotopremium{
    @extend .full;
    grid-area: big4;
    background-color: rgb(25,25,25);
    padding: 20px;
    }
.cuerpo{
    grid-area: cuerpo;
}
.grilla{
    max-width: 100%;
    display: grid;
    grid-template-areas:
    "big"
    "subtitulo"
    "cuerpo"
    ;
}
h3{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
    color:$title;
    padding: 10px 0px;
}
.sub{
    grid-area: subtitulo; 
}
.sub2{
    grid-area: sub2;
}
.padre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    justify-items: left;
    grid-template-areas:
    "texto texto"
    "big2 big2"
    "sub2 sub2"
    "texto2 texto2"
    "big3 big3"
    "texto3 texto3";
    
}
.padrecpu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    justify-items: left;
    grid-template-areas:
    "texto texto"
    "big2 big2"
    "texto2 texto2"
    "big3 big3"
    "texto3 texto3"

}
.padregpu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 10px;
    justify-items: left;
    grid-template-areas:
    "texto texto"
    "big2 big2"
    "texto2 texto2"
    "big3 big3"
    "texto3 texto3";
}
.padrememorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 10px;
    justify-items: left;
    grid-template-areas:
    "texto texto"
    "big2 big2"
    "texto2 texto2"
    "texto3 texto3"
    "big3 big3"
}
.padrepremium{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: left;
    grid-template-areas:
    "texto"
    "big4";

}



@media(min-width:500px){
    .padre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap:10px;
        justify-items: left;
        grid-template-areas:
        "texto big2"
        "sub2 sub2"
        "texto2 texto2"
        "big3 big3"
        "texto3 texto3";
        
    }
    .padrecpu{
        
        grid-template-areas:
        "texto  big2"
        "texto2 big2"
        "big3  texto3" 
        ;

    }
  
    h3{
        font-size: 18px;
    }
    .text{
        font-size: 15px;
    }
    .text2{
        font-size: 15px;
    }
    .text3{
        font-size: 15px;
    }
    a{
        font-size: 18px;
    }
    .padrememorias{
        
        grid-template-areas:
        "texto big2"
        "texto2 texto2"
        "big3 texto3"
        
    }
    

    
}
@media(min-width:800px){
    .padre{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "texto texto texto"
        "sub2 sub2 sub2"
        "texto2 texto2 big2" 
        "big3 texto3 texto3";
        
    }
 
    h3{
        font-size: 23px;
    }
    .text{
        font-size: 17px;
    }
    .text2{
        font-size: 17px;
    }
    .text3{
        font-size: 17px;
    }
    .padrecpu{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "texto texto big2"
        "texto2 texto2 big2"
        "big3 texto3 texto3" 
        ;

    }
    .padrememorias{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "big2 texto texto"
        "texto2 texto3 big3"
        ;
    }
    .padrepremium{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "texto big4";
    }
    .padregpu{
        grid-template-areas:
        "texto big2"
        "big3 texto2"
        "texto3 texto3";
    }
    
    
}
@media(min-width:1024px){
 
    h3{
        font-size: 25px;
    }
    .text{
        font-size: 19px;
    }
    .text2{
        font-size: 19px;
    }
    .text3{
        font-size: 19px;
    }
    a{
        font-size: 22px;
        transition: all 1s;
    }
    body{
        margin: 0% 10%;
    }

}