*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

header{
   
    padding: 20px 20px 0px 20px;
    display: flex;
    background-color:rgb(0, 0, 0);
    color:rgb(249, 168, 38);
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    
}
body{
    background-color: black;
}
main{
    
    padding: 10px 20px 0px 20px;
    font-family: 'Inter', sans-serif;
    background-color:rgb(0, 0, 0);
}
nav{
    width: 100%;
    background-color:rgba(25,25,24,0.3);
    align-items: center;
   
    
}

nav ul{
    
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
   
}

.icons{
    display: flex;
    gap: 15px;
    height: 100%;
    justify-content: left;
}

h1{
    font-size: 22px;
    text-align:left;
}
h2{
    padding: 10px 0px;
    color: rgb(219, 217, 217);
    font-size: 13px;
}
h3{
    font-family: 'Inter', sans-serif;
    color: rgb(249, 168, 38);
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
}
a{  
    
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: rgb(249, 168, 38);
    font-size: 14px;
    font-weight: bolder;
}
li{
    list-style-type: none;
    
}
.big{
    width: 100%;
    height: 100%;
    grid-area:big;
    border: solid rgb(0, 0, 0);
}
.sub{
    color: rgb(249, 168, 38);
    grid-area: subtitulo;
    padding: 10px 0px;
}
.sub2{
    grid-area: sub2;
    padding: 10px 0px;
}
.big2{
    height: 100%;
    width: 100%;
    grid-area: big2;
}
.big3{
    height: 100%;
    width: 100%;
    grid-area: big3;
}
.fotopremium{
    height: 100%;
    width: 100%;
    grid-area: big4;
    background-color: rgb(25,25,25);
    padding: 20px;

}
.text{
    font-family: 'Inter', sans-serif;
    grid-area: texto;
    width: 100%;
    color:rgb(219, 217, 217);
    background-color:rgb(25,25,25);
    font-weight:bold;
    font-size: 13px;
    padding: 10px;
}
.text2{
    font-family: 'Inter', sans-serif;
    grid-area: texto2;
    width: 100%;
    color:rgb(219, 217, 217);
    background-color:rgb(25,25,25);
    font-weight:bold;
    font-size: 13px;
    padding: 10px;

}
.text3{
    font-family: 'Inter', sans-serif;
    grid-area: texto3;
    width: 100%;
    color: rgb(219, 217, 217);
    background-color:rgb(25,25,25);
    font-weight:bold;
    font-size: 13px;
    padding: 10px;
}
.mini{
    padding: 10px 0px 10px 0px;
}
.cuerpo{
    grid-area: cuerpo;
}

.logo{
    font-family: 'Inter', sans-serif;
    color: rgb(249, 168, 38);
    font-size: 20px;
    font-weight:bold;

}
.padre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap:10px;
    justify-items: left;
    grid-template-areas:
    "texto big2"
    "sub2 sub2"
    "texto2 texto2"
    "big3 big3"
    "texto3 texto3";
    
}
.padrecpu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    justify-items: left;
    grid-template-areas:
    "texto big2"
    "texto2 big2"
    "big3 texto3"

}
.padregpu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: left;
    grid-template-areas:
    "big big"
    "texto texto"
    "big2 texto2"
    "texto3 big3";
}
.padrememorias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: left;
    grid-template-areas:
    "big2 texto"
    "texto2 big3"
    "texto3 texto3"
}
.padrepremium{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: left;
    grid-template-areas:
    "texto"
    "big4";

}
.grilla{
    display: grid;
    grid-template-areas:
    "big"
    "subtitulo"
    "cuerpo"
    ;
}

@media(min-width:500px){
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 18px;
    }
    .text{
        font-size: 18px;
    }
    .text2{
        font-size: 16px;
    }
    .text3{
        font-size: 16px;
    }
    a{
        font-size: 18px;
    }
}
@media(min-width:800px){
    .padre{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "texto texto texto"
        "sub2 sub2 sub2"
        "texto2 texto2 big2" 
        "big3 big3 texto3";
        
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 23px;
    }
    .text{
        font-size: 17px;
    }
    .text2{
        font-size: 17px;
    }
    .text3{
        font-size: 17px;
    }
    .padrecpu{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "texto texto big2"
        "texto2 texto2 big2"
        "big3 texto3 big2" 
        ;

    }
    .padrememorias{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "big2 texto texto"
        "texto2 texto3 big3"
        ;
    }
    .padrepremium{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "texto big4";
    }
    
}
@media(min-width:1024px){
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    .text{
        font-size: 23px;
    }
    .text2{
        font-size: 23px;
    }
    .text3{
        font-size: 23px;
    }
    a{
        font-size: 22px;
    }
    a{
        transition: all 1s;
    }
    a:hover{
        color: rgb(219, 217, 217);
        font-size:27px;
    }
    .text2{
        transition: all 1s;
    }
    .text2:hover{
        width: 110%;
        height: 110%;
    }
    

}
@media(min-width:1100px){
    body{
        margin: 0% 10%;
    }
}
